127.0.0.1	localhost.localdomain localhost {{ inventory_hostname }}.{{ domain }} {{ inventory_hostname }}
::1		localhost6.localdomain6 localhost
{{ ansible_host }}	{{ inventory_hostname }}.{{ domain }} {{ inventory_hostname }}
